// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#drags .handle{
  font-size: 43px;
  color: #777;
  cursor: move;
  background-color: #2E2F30;
  margin:392px;
}

ul
{
  list-style-type: none;
}
